# Always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.vscode

# Node and TypeScript Files
node_modules/*
*.tsbuildinfo
.npm
.eslintcache

node_modules/@mathigon/boost
node_modules/@mathigon/core
node_modules/@mathigon/euclid
node_modules/@mathigon/fermat
node_modules/@mathigon/hilbert
node_modules/@mathigon/studio/node_modules

#Exclude Node Files
!node_modules/@mathigon/

# Build and Test Outputs
public
screenshots
_*.yaml

# Private Keys
google-service-account.json
sendgrid.env
